/*
* Borrowed from https://codepen.io/artboardartisan/pen/VLzKVN
*/

// Color Variables ======================================
$green: #75b800;
$orange: rgb(238, 184, 5);
$yellow: rgb(247, 233, 43);
$gray-light: #eef1f3;

// Bar Variables ========================================
$bar-size: 5px;
$bar-radius: 60px;

// Bar ============================================
.progress-bar {
	display: block;
	border-radius: $bar-radius;
	overflow: hidden;
	width: 100%;
	height: $bar-size;

	span {
		height: $bar-size;
		display: block;
	}
}

.bar-container {
	display: grid;
	padding-right: 10px;
	padding-left: 10px;
	grid-template-columns: 1fr 3fr;
	grid-auto-rows: 20px;
	align-items: center;
	text-align: left;

	* {
		margin: 0;
		padding: 0;
	}
}

.big-bars {
	.progress-bar {
		height: calc(#{$bar-size} * 3);

		span {
			height: calc(#{$bar-size} * 3);
		}
	}

	grid-auto-rows: 30px;
	font-size: larger;
}

html:not([data-theme="dark"]) {
	.bar {
		background: $bar-bg-light;
	}
}

html[data-theme="dark"] {
	.bar {
		background: $bar-bg-dark;
	}
}

.bar-orange {
	background-color: $orange;
}

.bar-green {
	background-color: $green;
}

.bar-yellow {
	background-color: $yellow;
}

.progress {
	color: #fff;
	padding: $bar-size;
	width: 0;
}
