html[data-theme="dark"] {
	.card {
		color: $font-color-dark;
		background: $card-bg-dark;
	}
}

html:not([data-theme="dark"]) {
	.card {
		color: $font-color-light;
		background: $card-bg-light;
	}
}

.card-container {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-rows: 400px;
	grid-gap: 5%;

}

.card {
	display: block;
	text-decoration: none;

	width: 100%;
	height: 100%;

	text-align: center;

	box-shadow: #00000080 5px 5px 2px 2px;
	transition: box-shadow .5s;

	padding-left: 1rem;
	padding-right: 1rem;

	&:hover {
		box-shadow: #00000080 10px 10px 10px 4px;
	}

	h3 {
		font-size: 18pt;
	}

	i {
		width: 75%;
		// height: 75%;
		font-size: 64pt;
		padding-top: .5em;
	}


	&:not(.skill-card) {
		padding-top: 10%;

		i {
			font-size: 90pt;
			height: 60%;
		}
	}

}
