$font-color-light: #1f1f1f;
$bg-color-light: #eeeeee;
$card-bg-light: white;
$bar-bg-light: rgba(0, 0, 0, 0.075);

$font-color-dark: #eeeeee;
$bg-color-dark: #1f1f1f;
$card-bg-dark: #333333;
$bar-bg-dark: rgba(255, 255, 255, 0.1);
