@import "colors";
@import "fonts";
@import "cards";
@import "bar";

* {
	box-sizing: border-box;
	transition: background 0.05s, color 0.05s;
}

.debug-line {
	width: 100;
	height: 1px;
	border-bottom: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "Open Sans"
}

footer {
	font-family: "Open Sans";
	text-align: center;
	padding-bottom: 2em;

	span {
		font-size: 20px;
	}
}

html[data-theme="dark"] {
	body {
		background: $bg-color-dark;
		color: $font-color-dark;
	}
}

html:not([data-theme="dark"]) {
	body {
		background: $bg-color-light;
		color: $font-color-light;
	}
}

html,
body {
	width: 99%;
	height: 100%;
}

a#resume {
	width: 200px;
	height: 200px;
	margin: auto;
	padding: 0;

	i {
		font-size: 48pt;
	}
}

section {
	width: 100%;
	// min-height: 100%;
	display: block;

}

@keyframes who-startup {
	from {
		padding-top: 15%;
		padding-bottom: 15%;
	}

	to {
		padding-top: 10%;
		padding-bottom: 10%;
	}
}

#who {
	padding-top: 15%;
	padding-bottom: 15%;

	text-align: center;

	h1 {
		font-size: 36pt;
	}

	animation-name: who-startup;
	animation-duration: .5s;
	animation-direction: alternate;
	animation-iteration-count: 2;
	animation-delay: 1s;
}

#where {
	padding-top: 5%;
	padding-bottom: 15%;

	h1 {
		padding-left: 2%;
		font-size: 24pt;
	}

	div {
		padding-top: 3%;
	}
}

#skills {
	padding-bottom: 15%;

	h1 {
		padding-left: 2%;
		font-size: 24pt;
	}
}

button#toggle-theme {
	position: fixed;
	top: 1em;
	right: 1em;
	background: rgba(255, 255, 255, 0.5);
	border: none;
}

#by-human {
	position: fixed;
	top: 1em;
	left: 1em;
}
